.hero {
  text-align: center;
}

.description {
  margin: 1.5rem 0;
}

.hero__link {
  box-shadow: var(--shadow);
  font-size: 14px;
  padding: 1em;
  border-radius: var(--border-radius-default);
  display: inline-block;
}

.btn-firefox {
  background-color: var(--gray);
  color: var(--dark-blue);
  margin-left: 1rem;
  border: 2px solid transparent;
  font-weight: 500;
}

@media (min-width: 768px) {
  .hero {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  .hero__image-wrapper {
    width: 50%;
  }

  .hero__image {
    max-width: none;
  }

  .hero__text {
    text-align: left;
    width: 50%;
  }

  .hero__title {
    font-size: 3rem;
  }

  .btn-firefox:hover {
    cursor: pointer;
    border: 2px solid var(--dark-blue);
  }
}
