.nav__sm {
  position: absolute;
  left: 0;
  top: 57px;
  min-height: 95vh;
  width: 100%;
  background-color: var(--dark-blue);
  opacity: 0.97;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav__list {
  margin: 2rem;
}

.nav__item {
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid var(--grayish-blue);
  padding: 1rem;
}

.nav__link {
  color: var(--white);
  letter-spacing: 1.5px;
  font-size: 1.25rem;
}

.nav__item:last-child {
  padding: 1.5rem 0;
}

.btn-login {
  border: 2px solid var(--white);
  width: 100%;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 400;
  background-color: transparent;
}

@media (min-width: 768px) {
  .nav__list {
    display: flex;
    margin: 0;
    align-items: center;
    gap: 3rem;
  }

  .nav__item {
    border: none;
    padding: 0;
    margin: 0;
  }

  .nav__item:last-child {
    padding: 0;
  }

  .nav__link {
    color: var(--dark-blue);
    font-size: 0.85rem;
  }

  .btn-login {
    background-color: var(--primary-red);
    color: var(--white);
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--primary-red);
  }
}
