.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.app {
  min-height: 100vh;
}

.section__head {
  text-align: center;
  margin-top: 5rem;
}

.section__title,
.section__description {
  margin: 1rem 0;
}

.btn {
  padding: 1em 1.5em;
  border-radius: 5px;
  box-shadow: var(--shadow);
  color: var(--white);
  border: 2px solid transparent;
}

.btn-blue {
  background-color: var(--primary-blue);
}

.btn-red {
  background-color: var(--primary-red);
}

.btn-blue:hover {
  border: 2px solid var(--primary-blue);
  background-color: var(--white);
  color: var(--primary-blue);
  cursor: pointer;
  font-weight: 500;
}

.btn-red:hover {
  border: 2px solid var(--primary-red);
  background-color: var(--white);
  color: var(--primary-red);
  cursor: pointer;
  font-weight: 500;
}

.hidden {
  display: none !important;
}

@media (min-width: 768px) {
  .section__title,
  .section__description {
    width: 50%;
    margin: 1rem auto;
  }
}
